:root {
  --trial-magenta: #CB3778;
  --trial-purple: #A173BC;
  --trial-dark-blue: #3F3F71;
  --trial-blue: #1372EC;

  --atomic-primary: var(--trial-magenta);
  --atomic-primary-light: #D579A1;
  --atomic-primary-dark: #4D2C3A;
  --atomic-ring-primary: rgba(224, 78, 121, 0.5);

  --spacing: 16px;
  --search-box-width: 648px;
}

atomic-search-box {
  --atomic-primary: var(--trial-dark-blue);
  --atomic-primary-light: #5d5da8;
  --atomic-primary-dark: #22223D;
  --atomic-ring-primary: rgba(63, 63, 113, 0.5);
}

body {
  margin: 0;
}

.demo-banner {
  padding-top: 10px;
  padding-bottom: 10px;
  background: var(--trial-dark-blue);
  color: #fff;
  text-align: center;
  font-family: var(--atomic-font-family);
  font-size: 14px;
}

.code-sandbox {
  position: absolute;
  top: 67px;
  right: 28px;
}

.code-sandbox-button {
  color: white;
  background-color: var(--trial-blue);
  text-decoration: none;
  padding: 12px 22px;
  font-size: 14px;
  border-radius: 8px;
  font-family: var(--atomic-font-family);
}

.explore-coveo {
  position: fixed;
  bottom: 40px;
  right: 32px;
}

.hidden {
  visibility: hidden;
}

.btn-fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

.btn-fadeIn {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}

.restart-tour {
  position: fixed;
  bottom: 111px;
  right: 32px;
}

.floating-button {
  color: white;
  background-color: var(--trial-blue);
  text-decoration: none;
  padding: 12px 16px 12px 12px;
  border-radius: 8px;
  font-size: 14px;
  font-family: var(--atomic-font-family);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
}

.restart-tour-btn-height {
  height: 17px;
}

.floating-button-text {
  margin-right: 12px;
}

.header-bg {
  background-color: var(--atomic-neutral-light);
  grid-area: 1 / -1 / 1 / 1;
  height: 80px;
}

atomic-facet[field="concepts"]::part(value-label) {
  text-transform: capitalize;
}

atomic-search-layout {
  padding-top: 5rem;
  position: relative;
}

.logo {
  position: absolute;
  display: grid;
  align-self: center;
  align-items: center;
  justify-items: center;
  height: 4rem;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid var(--atomic-neutral);
}

.logo img {
  display: none;
  max-height: 2rem;
}

atomic-search-interface.hydrated .logo img {
  display: block;
}

@media only screen and (min-width: 1024px) {
  atomic-search-layout {
    padding-top: 0;
  }

  .logo {
    position: unset;
    justify-items: start;
    grid-area: 1 / 2;
    height: 5rem;
    border-bottom: none;
  }

  .logo img {
    max-height: 3rem;
  }
}
