.field {
  display: inline-flex;
  white-space: nowrap;
  align-items: center;
}

.field-label {
  font-weight: bold;
  margin-right: 0.25rem;
}

.featured::part(result-badge-element) {
  background-color: white;
  border: 1px solid var(--trial-purple);
  color: var(--trial-purple);
}

.recommended::part(result-badge-element) {
  background-color: white;
  border: 1px solid var(--trial-magenta);
  color: var(--trial-magenta);
}

atomic-result-printable-uri {
  --atomic-primary: var(--trial-blue);
}

atomic-result-section-visual#yt-visual {
  height: auto;
  aspect-ratio: auto;
}
